<%= form_for(@road_defect) do |f| %>
  <% if @road_defect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@road_defect.errors.count, "error") %> prohibited this road_defect from being saved:</h2>

      <ul>
      <% @road_defect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diameter %><br />
    <%= f.text_field :diameter %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :reporter_id %><br />
    <%= f.number_field :reporter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
