<p id="notice"><%= notice %></p>

<p>
  <b>Diameter:</b>
  <%= @road_defect.diameter %>
</p>

<p>
  <b>Location:</b>
  <%= @road_defect.location %>
</p>

<p>
  <b>Description:</b>
  <%= @road_defect.description %>
</p>

<p>
  <b>Reporter:</b>
  <%= @road_defect.reporter_id %>
</p>


<%= link_to 'Edit', edit_road_defect_path(@road_defect) %> |
<%= link_to 'Back', road_defects_path %>
